export(atRisk)
export(backGround)
export(confInt)
export(crModel)
export(getEvent)
export(Hist)
export(jackknife)
export(jackknife.competing.risks)
export(jackknife.survival)
export(leaveOneOut)
export(leaveOneOut.competing.risks)
export(leaveOneOut.survival)
export(markTime)
export(meanNeighbors)
export(neighborhood)
export(NN)
export(PercentAxis)
export(plotCompetingRiskModel)
export(plotIllnessDeathModel)
export(predictSurvIndividual)
export(prodlim)
export(row.match)
export(SimCompRisk)
export(SimSurv)
export(sindex)
export(SmartControl)
export(survModel)
import(stats)
S3method(plot,Hist)
S3method(plot,prodlim)
S3method(predict,prodlim)
S3method(print,Hist)
S3method(print,IntIndex)
S3method(print,neighborhood)
S3method(print,prodlim)
S3method(print,quantile.prodlim)
S3method(print,summary.prodlim)
S3method(quantile,prodlim)
S3method(summary,Hist)
S3method(summary,prodlim)
useDynLib(prodlim)
