S3method(as.data.frame,EventHistory.frame)
S3method(getStates,Hist)
S3method(getStates,prodlim)
S3method(plot,Hist)
S3method(plot,prodlim)
S3method(predict,prodlim)
S3method(print,Hist)
S3method(print,IntIndex)
S3method(print,neighborhood)
S3method(print,prodlim)
S3method(print,quantile.prodlim)
S3method(print,summary.prodlim)
S3method(quantile,prodlim)
S3method(summary,Hist)
S3method(summary,prodlim)
export(EventHistory.frame)
export(Hist)
export(NN)
export(PercentAxis)
export(SimCompRisk)
export(SimSurv)
export(SmartControl)
export(atRisk)
export(backGround)
export(confInt)
export(crModel)
export(dimColor)
export(getEvent)
export(getStates)
export(jackknife)
export(jackknife.competing.risks)
export(jackknife.survival)
export(leaveOneOut)
export(leaveOneOut.competing.risks)
export(leaveOneOut.survival)
export(markTime)
export(meanNeighbors)
export(model.design)
export(neighborhood)
export(parseSpecialNames)
export(plotCompetingRiskModel)
export(plotIllnessDeathModel)
export(predictSurvIndividual)
export(prodlim)
export(row.match)
export(sindex)
export(strip.terms)
export(survModel)
import(lava)
importFrom(stats,quantile)
importFrom(survival,Surv)
importFrom(survival,cluster)
importFrom(survival,survdiff)
useDynLib(prodlim)
